body {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: aqua;
    color: black;
    text-decoration-style: wavy;
    justify-content: content position;
    center
}

footer {
    background-color: rgb(196, 249, 255);
    color: black
}

.centered {
    text-align: center;
}

.intro {
    max-width: 500px;
    text-align: left;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}